

body{
/*     background: black; */
    margin: 0px;
	background: #171717;
}


#header{
	background: rgba(225, 225, 225, .5);
}


#boards,
#content,
textarea{
	font-size: 12px;
}

pre{
	padding: 2 5px;
	display: inline-block;
	background: rgba(255, 255, 255, .5);
	color: black;
}
.alert-msg pre{
	background: initial;
	color: grey;
}

#content{
/* 	background: #171717; */
/*	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 70px);
	flex-direction: column;*/
}

#scratchpad{
	display: inline-block;
	height: calc(100vh - 10px);
	width: calc( 100% - 210px);
	background: #232323;
	color: #96fa96;
	font-family: monospace;
    padding: 10px;
	border: 0px;
	bottom: 0px;
	right: 0px;
	position: fixed;
	z-index: 9;
	border-left: 1px solid black;
}

#scratchpad:focus{
	outline: 0;
}

.show-lines #scratchpad{
	width: calc( 100% - 120px);
}
#lines{
	display: none;
	font-family: monospace;
	position: fixed;
	z-index: 999;
	bottom: 0px;
	height: calc(100vh - 75px);
	width: 26px;
	left: 92px;
	background: #202020;
	color: grey;
	border: 0px;
	resize: none;
	padding-top: 10px;
}
.show-lines #lines{
	display: inline-block;
}


#colophon{
	display: none;
}

#how{
	font-size: 1rem;
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: white;
	z-index: 99;
	cursor: hand;
}
#question{
	padding: 10px;
	color: orange;
	font-size: 1.5rem;
}
#question:hover{
	opacity: .7;
}
#how:hover #hover{
	display: inline-block;
    width: 480px;
}
#hover{
    display: none;    
    position: absolute;
    bottom: 40px;
    right: 20px;
	max-width: 100vw;
    background: rgba(0, 0, 0, .8);
    padding: 10px;
}
/*#all-settings{

}*/



#main-wrapper{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	width: 210px;
}
.main-button{
	display: inline-block;
	vertical-align: top;
	/* 	padding: 5px 10px; */
	cursor: pointer;
	background: rgba(255, 255, 255, .1);
	border: 1px solid black;
	width: 30%;
	height: 40px;
}
.main-button img{
	width: 30px;
	user-select: none;
}
.main-button:hover{
	background: rgba(255, 255, 255, .2);
}
.main-button:active{
	background: rgba(255, 255, 255, .05);
}
#options{
/* 	bottom: 20px; */
}
#anchor{
/* 	bottom: 80px; */
	background: rgba(100, 70, 50, .5)
}
#anchor:hover{
	background: rgba(110, 80, 60, .6)
}
#anchor:active{
	background: rgba(90, 60, 40, .4)
}
#add-board{
	background: rgba(20, 100, 0, .3);
	font-size: 2rem;
	display: inline-block;
	color: lightgrey;
}
#add-board:hover{
	background: rgba(30, 110, 10, .4);
}
#add-board:active{
	background: rgba(20, 100, 0, .1);
}

#boards{
	position: relative;
/* 	z-index: 9; */
	width: 225px;
	color: #f1d4a1;
	padding: 0 5px;
	height: calc( 100vh - 90px);
	overflow-y: auto;
	overflow-x: hidden;
}
#boards:hover{
	/*z-index: 99;*/
}
#boards .button{
	white-space: nowrap;
	font-weight: initial;
	opacity: 1;
	padding: 1px 6px;
	box-shadow: 0px 0px;
}
#boards .tab{
	position: relative;
	white-space: nowrap;
	user-select: none;
}
.tab.active{
	background: rgba(255, 255, 255, .1)
}
#boards .button:hover{
	max-width: 999%;
}
#boards .button:hover{
	border-left:  3px solid green;
	transform:  scale(1.1);
}
#boards .tab.active .button{
    font-weight: bold;
	border-left:  3px solid lightgreen;
}
.dir-arrow{
	position: absolute;
	background: black;
	font-size:  1.2rem;
	padding:  0px 8px 4px 8px;
	font-weight:  bold;
	vertical-align: top;
	cursor: pointer;

	display: none;

	top: 0;
/*	height: 100px;
	z-index: 999;
	top:  -50px;*/
}
.dir-arrow.down{
	right: 30px;
}
.dir-arrow.up{
	right: 0px;
}
.tab:hover{
	background: black;
}
.tab:hover .dir-arrow{
	display:  inline-block;
}
.dir-arrow:hover{
	background: grey;
}

#dragger{
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: orange;
	display: none;
}



#boards .explain{
	color: white;
	background: rgba(255, 255, 255, .2);
	margin: 10px 0;
}


#scratch-url,
#scratch-pw{
	position: absolute; 
	z-index: 999;
	left: 10px;
	width: 80px;
	background: black;
	border: 1px solid grey;
	padding: 5px;
	color: green;
	font-size: 16px;
}
#scratch-url{
	bottom: 90px;
}
#scratch-pw{
	bottom: 50px;
}
#scratch-pw:focus,
#scratch-url:focus{
	width: 300px;
}

#save-creds{
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: grey;
	text-align: center;
/* 	border:  */
	margin: 0px !important;
}

/* #mobile-save,
#mobile-refresh */
#menu-toggle{
	position: absolute;
	top: 90px;
	right: 10px;
	z-index: 999;
	font-size: 1.5rem;
	padding: 3px;
	display: none;
}
#mobile-refresh,
#mobile-save{
	background: rgba(20, 150, 50, .3)
}
#mobile-save{
	top: 90px;
}


body.board .modal-content{
	background: #171717;
	box-shadow: 0px 0px 10px black;
	color: lightgrey;
	border: 0px;
	max-height: 80vh;
	max-width: 800px;
	overflow-y: auto !important;
}
body.board  .modal-content>h3{
	margin-top: 0px;
	color: lightgrey;
}
body.board  .modal-content .left-panel,
body.board  .modal-content .right-panel{
	max-height: 65vh;
}
body.board  .modal-close{
	right: calc(50% - 400px);
}
body.board  .modal-content input[type='text'],
body.board  .modal-content input[type='email']{
	background: transparent;
	border: 0px;
	border-bottom: 1px solid lightgrey;
	color: lightgrey;
}

.board-share{
	margin-top: 20px;
}
.board-share input{
	color: black;
	background: #b45301;
	padding: 5px;
	font-weight: bold;
	border: 0px solid;
}

.field-wrapper{
	margin: 5px 0;
	padding: 5px;
/* 	background: rgba(255, 255, 255, .05); */
}
.field-label{
	font-weight: bold;
	color: lightgreen;
}

#private-boards{
	border-left: 2px solid grey;
	margin-bottom: 10px;
}
#invites{
	border-left: 2px solid grey;
}
#private-boards,
#invites{
	padding: 0px 5px 5px 5px;
}

#mobile-toggle{
/* 	border: 2px solid green; */
	color: white;
}

.online-users{
	margin-bottom: 20px;
}

span.board-touch{
	animation: edit_pulse 1s infinite;
	color: grey;
}

.modal-content input[type=color]{
	width: 50px;
	max-width: auto;
	border: 1px solid;
	padding: 0px;
	margin-left: 10px;
	vertical-align: middle;
}

#line-wrap{
	position: fixed;
	z-index: 9;
	bottom: 10px;
	right: 40px;
}
#line-wrap div{
	font-size: .8rem;
	width: 150px;
	color: gold;
}
#line-wrap div:first-of-type{
	text-align: right;
	padding-right: 15px;
}
#line-wrap div:nth-of-type(2){
	text-align: left;
}

.anchor-wrap .column.anchor{
	display: inline-block;
	width: 30px;
	padding: 2px;
	opacity: .7;
	cursor: pointer;
	border: 1px solid black;
	margin: 0 1px;
	background: rgba(255, 255, 255, .2);
}
.anchor-wrap .anchor:hover{
	opacity: 1;
	background: rgba(255, 255, 255, .1);
}
.anchor-wrap .column.anchor:active{
	opacity: .4
}
.anchor-wrap .anchor img{
	max-width: 100% !important;
}

.anchor-preview{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	padding: 20px;
	background: rgba(0, 0, 0, .9)
}
.anchor-preview textarea{
	height: 80%;
	margin-bottom: 2%;
}

.board-choice{
	padding: 20px;
}
.board-choice:first-of-type{
	background:  rgba(20, 100, 0, .3);
	margin-bottom: 20px;
}
.board-choice:nth-of-type(2){
	background:  rgba(20, 150, 200, .3)
}
.board-choice input{
	background: black;
	color: lightgrey;
	font-weight: bold;
}
.board-choice input::placeholder{
	font-weight: bold;
}

#id-address,
#id-credentials{
	color:  orange;
}
#id-address div,
#id-credentials div{
	color: #35dada;
}

.modal .delete{
	margin-top: 30px;
}

.tab-toggle{
	display: inline-block;
	vertical-align: top;
	padding: 2px;
	width: 17px;
	cursor: pointer;
/* 	background: rgba(205, 35, 0, .2); */
}
.tab-toggle:hover,
.tab-toggle.checked:hover{
	background: rgba(255, 255, 255, .4);
}
.tab-toggle.private{
	background: rgba(85, 105, 70, .5);
}
.tab-toggle.public{
	background: rgba(85, 125, 200, .3);
}
.tab-toggle.checked.private{
	background: rgba(105, 135, 100, .9);
/* 	background: rgba(155, 255, 155, .3); */
}
.tab-toggle.checked.public{
	background: rgba(85, 125, 200, .9);
}
.tab-toggle img{
	width: 100%;
}

#options-panel{
	position: fixed;
	top: 50px;
	right: 10px;
	background: lightgrey;
	padding: 10px;
	font-size: .9rem;
	z-index: 99;
	opacity: .8;
}
#node-ports{
/*	border: 2px solid red;*/
}
.port-listing{
	margin: 20px 0;
}
.app-row.active{
	background: green;
}
#live-apps *{
	font-weight: bold;
}

@media screen and (max-width: 800px){
	#content{
		height: calc(100vh - 70px);
	}
	#scratchpad{
		height: calc(100vh - 80px);
		z-index: 999;
	}

	#content.toggled #scratchpad{
		width: calc( 100% - 90px);
	}
	#content #scratchpad{
		width: calc( 100%);
	}
	
	#scratch-url,
	#scratch-pw{
		left: -100px;
	}
	#content.toggled #scratch-url,
	#content.toggled #scratch-pw{
		left: 10px;
	}
	#menu-toggle{
		display: inline-block;
	}
	#how{
		display: none;
	}
	#options{
		bottom: 10px;
		left: 10px;
	}

	#boards{
		top: 90px;
	}
}